.quiz-container {
    text-align: left;
}

.button-container {
    margin-top: 10vw;
    display: flex;
    justify-content: end;
}

.nav {
    margin-bottom: 10vh;
}

.nav-btn {
    position: absolute;
    right: 4vw;
}
